<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Farmer Trader Tracking</title>

    <link href="{{ url_for('static',filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='starter-template.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='assets/js/ie-emulation-modes-warning.js') }}"></script>

  </head>

    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home Page</a></li>
                <li><a href="/order">Order Management </a></li>
                <li><a href="/tracking">Tracking</a></li>
                <li><a href="/history">History</a></li>
            </div>
          </div>
        </nav>

        <table class="table table-bordered table-hover" style="width:80%; margin:auto">
                <tr>
                    <th>PLID</th>
                    <th>SymbolID</th>
                    <th>Quantity</th>
                    <th>VWAP</th>
                    <th>UPL</th>
                    <th>RPL</th>
                </tr>
                {% for v in orders %}
                <tr>
                    <td>{{v[0]}}</td>
                    <td>{{v[1]}}</td>
                    <td>{{v[2]}}</td>
                    <td>{{v[3]}}</td>
                    <td>{{v[4]}}</td>
                    <td>{{v[5]}}</td>
                    <td>{{v[6]}}</td>
                {% endfor %}
                </tr>
            </table>

    
    </body>
</html>